# trig_gen.ucf (C) 2014 NXP Semiconductors
# Written by Roger Williams <roger.williams@nxp.com>
# Use the Ctrl4 trigger interface adapter
# as a sequential 4-channel trigger generator
#

CONFIG PART=XC9572XL-10VQ44;

########################################################################
# I/O locations
########################################################################

NET "TRIGIN"		LOC = "44";
NET "TRIGOUT[1]"	LOC = "39" | SLEW = FAST;
NET "TRIGOUT[2]"	LOC = "38" | SLEW = FAST;
NET "TRIGOUT[3]"	LOC = "32" | SLEW = FAST;
NET "TRIGOUT[4]"	LOC = "19" | SLEW = FAST;
NET "LEDOUT"		LOC = "7" | SLEW = SLOW;
