<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.40.49154" newVersion="15.0.40.49154" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="mode" value="factory" />
    <add key="driveup_compression" value="2.0" />
    <add key="driveup_start_db" value="2.6" />
    <add key="driveup_stop_db" value="26.0" />
    <add key="instrument" value="M2A" />
  </appSettings>
</configuration>
