# xdig_passthru.ucf (C) 2013 NXP Semiconductors
# Written by Roger Williams <roger.williams@nxp.com>
# Ctrl4 Xdig FPGA, passthru design
#
# 2013-09-30 - Initial entry
# 2013-10-25 - Updated with final rev A schematic changes
# 2013-10-31 - Removed SS_IN

CONFIG PART=XC3S400AN-4FTG256;

########################################################################
# I/O locations
########################################################################
# MCU interfaces
########################################################################
#NET "ADC_MOSI_IN"	LOC = "E13"	| IOSTANDARD = LVCMOS33;
#NET "ADC_SS_IN"	LOC = "C16"	| IOSTANDARD = LVCMOS33;
NET "ADC_MISO_OUT"	LOC = "C15"	| IOSTANDARD = LVCMOS33;
NET "ADC_SCK_IN"	LOC = "H14"	| IOSTANDARD = LVCMOS33;
NET "ADC_SSEL[0]"	LOC = "K12"	| IOSTANDARD = LVCMOS33;
NET "ADC_SSEL[1]"	LOC = "G12"	| IOSTANDARD = LVCMOS33;
NET "ADC_SSEL[2]"	LOC = "F12"	| IOSTANDARD = LVCMOS33;
NET "ANTSEL[0]"		LOC = "B4"	| IOSTANDARD = LVCMOS33;
NET "ANTSEL[1]"		LOC = "A4"	| IOSTANDARD = LVCMOS33;
NET "ANTSEL[2]"		LOC = "B3"	| IOSTANDARD = LVCMOS33;
NET "BIAS_ENN[1]"	LOC = "D4"	| IOSTANDARD = LVCMOS33;
NET "BIAS_ENN[2]"	LOC = "B6"	| IOSTANDARD = LVCMOS33;
NET "BIAS_ENN[3]"	LOC = "A6"	| IOSTANDARD = LVCMOS33;
NET "BIAS_ENN[4]"	LOC = "C6"	| IOSTANDARD = LVCMOS33;
NET "CFG_SSELN"		LOC = "D10"	| IOSTANDARD = LVCMOS33;
NET "CONV_IN[1]"	LOC = "E14"	| IOSTANDARD = LVCMOS33;
NET "CONV_IN[2]"	LOC = "D15"	| IOSTANDARD = LVCMOS33;
NET "CONV_IN[3]"	LOC = "D16"	| IOSTANDARD = LVCMOS33;
NET "CONV_IN[4]"	LOC = "D14"	| IOSTANDARD = LVCMOS33;
NET "DACSSN[1]"		LOC = "G4"	| IOSTANDARD = LVCMOS33;
NET "DACSSN[2]"		LOC = "J6"	| IOSTANDARD = LVCMOS33;
NET "DACSSN[3]"		LOC = "T7"	| IOSTANDARD = LVCMOS33;
NET "DACSSN[4]"		LOC = "R11"	| IOSTANDARD = LVCMOS33;
NET "DAC_SSELN"		LOC = "A12"	| IOSTANDARD = LVCMOS33;
NET "GATE[1]"		LOC = "C13"	| IOSTANDARD = LVCMOS33;
NET "GATE[2]"		LOC = "D13"	| IOSTANDARD = LVCMOS33;
NET "GATE[3]"		LOC = "B14"	| IOSTANDARD = LVCMOS33;
NET "GATE[4]"		LOC = "B15"	| IOSTANDARD = LVCMOS33;
NET "I2C_SEL[0]"	LOC = "C9"	| IOSTANDARD = LVCMOS33;
NET "I2C_SEL[1]"	LOC = "C8"	| IOSTANDARD = LVCMOS33;
NET "I2C_SEL[2]"	LOC = "D8"	| IOSTANDARD = LVCMOS33;
NET "MISO_OUT"		LOC = "B10"	| IOSTANDARD = LVCMOS33;
NET "MOSI_IN"		LOC = "A10"	| IOSTANDARD = LVCMOS33;
NET "RF_PWM[1]"		LOC = "D11"	| IOSTANDARD = LVCMOS33;
NET "RF_PWM[2]"		LOC = "C12"	| IOSTANDARD = LVCMOS33;
NET "RF_PWM[3]"		LOC = "A13"	| IOSTANDARD = LVCMOS33;
NET "RF_PWM[4]"		LOC = "A14"	| IOSTANDARD = LVCMOS33;
NET "SCK_IN"		LOC = "C10"	| IOSTANDARD = LVCMOS33;
#NET "SS_IN"		LOC = "D9"	| IOSTANDARD = LVCMOS33;
NET "SSEL[0]"		LOC = "A11"	| IOSTANDARD = LVCMOS33;
NET "SSEL[1]"		LOC = "C11"	| IOSTANDARD = LVCMOS33;
#NET "BLSN[1]"		LOC = "F14"	| IOSTANDARD = LVCMOS33;
#NET "BLSN[0]"		LOC = "G13"	| IOSTANDARD = LVCMOS33;
#NET "FPGA_IRQn"	LOC = "L2"	| IOSTANDARD = LVCMOS33;
#NET "SPARE501"		LOC = "B12"	| IOSTANDARD = LVCMOS33;
NET "MCU_SYNCOUT"	LOC = "D7"	| IOSTANDARD = LVCMOS33;
NET "SYN_SSELN"		LOC = "E16"	| IOSTANDARD = LVCMOS33;
NET "MCU_TRIGIN"	LOC = "A3"	| IOSTANDARD = LVCMOS33;
NET "VGA_SSELN"		LOC = "E10"	| IOSTANDARD = LVCMOS33;
########################################################################
# Zmon ADC interfaces
########################################################################
NET "ADCF_SCK[1]"	LOC = "G2"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SCK[2]"	LOC = "N3"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SCK[3]"	LOC = "N10"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SCK[4]"	LOC = "N12"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SDO[1]"	LOC = "J1"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SDO[2]"	LOC = "M3"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SDO[3]"	LOC = "L7"	| IOSTANDARD = LVCMOS33;
NET "ADCF_SDO[4]"	LOC = "L9"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SCK[1]"	LOC = "H1"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SCK[2]"	LOC = "P1"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SCK[3]"	LOC = "M10"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SCK[4]"	LOC = "P12"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SDO[1]"	LOC = "J2"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SDO[2]"	LOC = "N2"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SDO[3]"	LOC = "L8"	| IOSTANDARD = LVCMOS33;
NET "ADCR_SDO[4]"	LOC = "L10"	| IOSTANDARD = LVCMOS33;
NET "CONVP[1]"		LOC = "T4"	| IOSTANDARD = LVDS_33;
NET "CONVN[1]"		LOC = "R5"	| IOSTANDARD = LVDS_33;
NET "CONVP[2]"		LOC = "T5"	| IOSTANDARD = LVDS_33;
NET "CONVN[2]"		LOC = "T6"	| IOSTANDARD = LVDS_33;
NET "CONVP[3]"		LOC = "P7"	| IOSTANDARD = LVDS_33;
NET "CONVN[3]"		LOC = "N8"	| IOSTANDARD = LVDS_33;
NET "CONVP[4]"		LOC = "N7"	| IOSTANDARD = LVDS_33;
NET "CONVN[4]"		LOC = "P6"	| IOSTANDARD = LVDS_33;
########################################################################
# RF channel interfaces
########################################################################
NET "I2CINT"		LOC = "A9"	| IOSTANDARD = LVCMOS33;
NET "I2C[1]"		LOC = "C7"	| IOSTANDARD = LVCMOS33;
NET "I2C[2]"		LOC = "B8"	| IOSTANDARD = LVCMOS33;
NET "I2C[3]"		LOC = "A8"	| IOSTANDARD = LVCMOS33;
NET "I2C[4]"		LOC = "A7"	| IOSTANDARD = LVCMOS33;
NET "MISO[1]"		LOC = "G1"	| IOSTANDARD = LVCMOS33;
NET "MISO[2]"		LOC = "K4"	| IOSTANDARD = LVCMOS33;
NET "MISO[3]"		LOC = "T8"	| IOSTANDARD = LVCMOS33;
NET "MISO[4]"		LOC = "N11"	| IOSTANDARD = LVCMOS33;
NET "MOSI[1]"		LOC = "F1"	| IOSTANDARD = LVCMOS33;
NET "MOSI[2]"		LOC = "L3"	| IOSTANDARD = LVCMOS33;
NET "MOSI[3]"		LOC = "P8"	| IOSTANDARD = LVCMOS33;
NET "MOSI[4]"		LOC = "T13"	| IOSTANDARD = LVCMOS33;
#NET "PA_SPARE[1]"	LOC = "H6"	| IOSTANDARD = LVCMOS33;
#NET "PA_SPARE[2]"	LOC = "M4"	| IOSTANDARD = LVCMOS33;
#NET "PA_SPARE[3]"	LOC = "T2"	| IOSTANDARD = LVCMOS33;
#NET "PA_SPARE[4]"	LOC = "R3"	| IOSTANDARD = LVCMOS33;
NET "RF_ENN[1]"		LOC = "C1"	| IOSTANDARD = LVCMOS33;
NET "RF_ENN[2]"		LOC = "C2"	| IOSTANDARD = LVCMOS33;
NET "RF_ENN[3]"		LOC = "D3"	| IOSTANDARD = LVCMOS33;
NET "RF_ENN[4]"		LOC = "E7"	| IOSTANDARD = LVCMOS33;
NET "RF_GATE[1]"	LOC = "H5"	| IOSTANDARD = LVCMOS33;
NET "RF_GATE[2]"	LOC = "N1"	| IOSTANDARD = LVCMOS33;
NET "RF_GATE[3]"	LOC = "R9"	| IOSTANDARD = LVCMOS33;
NET "RF_GATE[4]"	LOC = "P11"	| IOSTANDARD = LVCMOS33;
NET "SCK[1]"		LOC = "H4"	| IOSTANDARD = LVCMOS33;
NET "SCK[2]"		LOC = "L4"	| IOSTANDARD = LVCMOS33;
NET "SCK[3]"		LOC = "N9"	| IOSTANDARD = LVCMOS33;
NET "SCK[4]"		LOC = "R13"	| IOSTANDARD = LVCMOS33;
NET "SYNSSN[1]"		LOC = "G3"	| IOSTANDARD = LVCMOS33;
NET "SYNSSN[2]"		LOC = "M1"	| IOSTANDARD = LVCMOS33;
NET "SYNSSN[3]"		LOC = "T9"	| IOSTANDARD = LVCMOS33;
NET "SYNSSN[4]"		LOC = "P13"	| IOSTANDARD = LVCMOS33;
NET "VGASSN[1]"		LOC = "F3"	| IOSTANDARD = LVCMOS33;
NET "VGASSN[2]"		LOC = "J4"	| IOSTANDARD = LVCMOS33;
NET "VGASSN[3]"		LOC = "R7"	| IOSTANDARD = LVCMOS33;
NET "VGASSN[4]"		LOC = "T11"	| IOSTANDARD = LVCMOS33;
########################################################################
# External I/O
########################################################################
NET "EXT_UNLOCK"	LOC = "E9"	| IOSTANDARD = LVCMOS33;
#NET "SYNC_IN"		LOC = "A5"	| IOSTANDARD = LVCMOS33;
NET "SYNC_OUTX"		LOC = "C5"	| IOSTANDARD = LVCMOS33;
NET "TEST_LEDN"		LOC = "R14"	| IOSTANDARD = LVCMOS33;
NET "TRIG_IN[1]"	LOC = "C4"	| IOSTANDARD = LVCMOS33;
NET "TRIG_IN[2]"	LOC = "D6"	| IOSTANDARD = LVCMOS33;
NET "TRIG_IN[3]"	LOC = "D12"	| IOSTANDARD = LVCMOS33;
NET "TRIG_IN[4]"	LOC = "E6"	| IOSTANDARD = LVCMOS33;
########################################################################
# MCU memory interface
########################################################################
#NET "A[1]"		LOC = "H15"	| IOSTANDARD = LVCMOS33;
#NET "A[2]"		LOC = "H16"	| IOSTANDARD = LVCMOS33;
#NET "A[3]"		LOC = "F15"	| IOSTANDARD = LVCMOS33;
#NET "A[4]"		LOC = "F13"	| IOSTANDARD = LVCMOS33;
#NET "A[5]"		LOC = "G16"	| IOSTANDARD = LVCMOS33;
#NET "A[6]"		LOC = "G14"	| IOSTANDARD = LVCMOS33;
#NET "A[7]"		LOC = "H13"	| IOSTANDARD = LVCMOS33;
#NET "A[8]"		LOC = "J14"	| IOSTANDARD = LVCMOS33;
#NET "A[9]"		LOC = "F16"	| IOSTANDARD = LVCMOS33;
#NET "D[0]"		LOC = "M13"	| IOSTANDARD = LVCMOS33;
#NET "D[1]"		LOC = "L13"	| IOSTANDARD = LVCMOS33;
#NET "D[2]"		LOC = "K15"	| IOSTANDARD = LVCMOS33;
#NET "D[3]"		LOC = "M14"	| IOSTANDARD = LVCMOS33;
#NET "D[4]"		LOC = "N16"	| IOSTANDARD = LVCMOS33;
#NET "D[5]"		LOC = "M15"	| IOSTANDARD = LVCMOS33;
#NET "D[6]"		LOC = "P16"	| IOSTANDARD = LVCMOS33;
#NET "D[7]"		LOC = "R15"	| IOSTANDARD = LVCMOS33;
#NET "D[8]"		LOC = "M16"	| IOSTANDARD = LVCMOS33;
#NET "D[9]"		LOC = "P15"	| IOSTANDARD = LVCMOS33;
#NET "D[10]"		LOC = "L14"	| IOSTANDARD = LVCMOS33;
#NET "D[11]"		LOC = "J13"	| IOSTANDARD = LVCMOS33;
#NET "D[12]"		LOC = "K14"	| IOSTANDARD = LVCMOS33;
#NET "D[13]"		LOC = "N14"	| IOSTANDARD = LVCMOS33;
#NET "D[14]"		LOC = "J16"	| IOSTANDARD = LVCMOS33;
#NET "D[15]"		LOC = "L16"	| IOSTANDARD = LVCMOS33;
#NET "OEN"		LOC = "J12"	| IOSTANDARD = LVCMOS33;
#NET "FPGA_CSN"		LOC = "N13"	| IOSTANDARD = LVCMOS33;
#NET "WEN"		LOC = "K13"	| IOSTANDARD = LVCMOS33;
########################################################################
# Clocks
########################################################################
#NET "CGU0"		LOC = "K16"	| IOSTANDARD = LVCMOS33;
NET "FPGA_CLK"		LOC = "P9"	| IOSTANDARD = LVCMOS33;

########################################################################
# Timing constraints
########################################################################
TIMESPEC TS_clk100 = PERIOD clk100_speed 10ns;
NET clk100 TNM = clk100_speed;
TIMESPEC TS_clk10 = PERIOD clk10_speed TS_clk100 * 10;
NET clk10 TNM = clk10_speed;

TIMESPEC TS_spi = PERIOD spi_speed 20ns;
NET SCK_IN TNM = spi_speed;
NET cfg_sck TNM = spi_speed;
